<header class="travel-header">
    <div class="logo">
      <img src="./assets/images/perulogo.png" alt="Ñan Peru Logo" />
    </div>
    <div class="hamburger" id="hamburger">☰</div>
    <nav class="nav-links" id="navLinks">
      <a href="/src/index.html" class="home-link">🏠 Home</a>
      <a href="planner.html">🗓️ Planner</a>
      <a href="tips.html">💡 Tips</a>
      <a href="../pages/attractions">🏞️ Attractions</a>
      <a href="../pages/restaurants.html">🍽️ Restaurants</a>
      <a href="../pages/recomendations.html">🌟 Recommendations</a>
      <a href="../pages/destinations.html">🧭 Destination Info</a>
    </nav>
  </header>
  