<header class="travel-header">
    <div class="logo">
      <img id="logo"src="/assets/images/perulogo.png" alt="Logo" />
    </div>
    <div class="hamburger" id="hamburger">☰</div>
    <nav class="nav-links" id="navLinks">
      <a href="/src/index.html" class="home-link">🏠 Home</a>
      
      <a href="#" id="link-destinations">🏞️ Destinations</a>
      <a href="#" id="link-attractions">🌟 Attractions</a>
      <a href="#" id="link-restaurants">🍽️ Restaurants</a>
      <a href="#" id="link-recommendations">🧭 Recommendations</a>
    </nav>
  </header>
   